# 1. Introduction

The main purpose of this notebook is to compare ways to open standard .csv files on your local machine.

We have 2 documents which we will open, inspect and transform with three different methods available in Python:

- [__Pandas__](https://pandas.pydata.org/),
- [__Dask__](https://dask.org/),
- [__PySpark__](https://spark.apache.org/).



So initially, let's import our first libraries:

In [1]:
from os import path
import pandas as pd

Now we can see the volume of out data:

In [2]:
medium_file = path.expanduser("./data/raw/Crimes.csv")
big_file = path.expanduser("./data/raw/Vehicles.csv")

file_list = {"Crimes" : medium_file, 
             "Vehicles" : big_file,
            }

for  key, value in file_list.items():
    print(f"{key} file size: {path.getsize(value) >> 20:.2f} MB")

Crimes file size: 1725.00 MB
Vehicles file size: 4814.00 MB

## 2. Pandas

We will start with loading files into DataFrames with __Pandas__ -> an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

#### 2.1. Medium DataFrame

##### Read data:

In [3]:
%%time
medium_df = pd.read_csv(medium_file)

Wall time: 34.9 s

##### Show last 2 rows:

In [4]:
%%time
medium_df.tail(2)

Wall time: 0 ns

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
6877120,1392468,G106773,01/01/2001 12:00:00 AM,023XX W HURON ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,RESIDENCE,False,False,...,-87.686272,"(41.893824874, -87.686272003)",24.0,21184.0,25.0,546.0,41.0,28.0,15.0,80.0
6877121,1310313,G000070,01/01/2001 12:00:00 AM,109XX S LONGWOOD DR,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,-87.671448,"(41.694977232, -87.671447845)",33.0,22212.0,74.0,380.0,42.0,13.0,9.0,257.0

##### Number of rows, columns:

In [5]:
%%time
medium_df.shape

Wall time: 0 ns

(6877122, 30)

##### Basic statistics:

In [6]:
%%time
medium_df.describe()

Wall time: 7 s

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
count,6.877122e+06,6.877122e+06,6.877075e+06,6.262298e+06,6.263626e+06,6.811932e+06,6.811932e+06,6.877122e+06,6.811932e+06,6.811932e+06,6.792140e+06,6.811932e+06,6.794854e+06,6.797012e+06,6.794966e+06,6.794901e+06,6.795930e+06,6.795953e+06
mean,6.326030e+06,1.190924e+03,1.130045e+01,2.269056e+01,3.757498e+01,1.164523e+06,1.885727e+06,2.008515e+03,4.184203e+01,-8.767178e+01,2.738247e+01,1.910871e+04,3.872460e+01,3.813732e+02,2.553626e+01,3.146023e+01,1.491913e+01,1.505174e+02
std,3.097822e+06,7.032927e+02,6.945665e+00,1.383333e+01,2.153849e+01,1.715558e+04,3.268663e+04,5.157344e+00,8.994461e-02,6.208706e-02,1.526851e+01,5.736594e+03,2.009641e+01,2.300487e+02,1.477743e+01,1.914224e+01,6.453640e+00,7.850072e+01
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01,1.000000e+00,2.733000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,3.467769e+06,6.220000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152936e+06,1.859189e+06,2.004000e+03,4.176891e+01,-8.771385e+01,1.400000e+01,2.118400e+04,2.500000e+01,1.760000e+02,1.200000e+01,1.500000e+01,1.000000e+01,8.300000e+01
50%,6.310243e+06,1.111000e+03,1.000000e+01,2.200000e+01,3.200000e+01,1.166001e+06,1.890614e+06,2.008000e+03,4.185551e+01,-8.766615e+01,2.700000e+01,2.156000e+04,3.700000e+01,3.780000e+02,2.600000e+01,3.000000e+01,1.600000e+01,1.530000e+02
75%,9.000136e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.700000e+01,1.176352e+06,1.909288e+06,2.013000e+03,4.190682e+01,-8.762835e+01,4.100000e+01,2.224300e+04,5.800000e+01,5.770000e+02,3.700000e+01,5.000000e+01,2.000000e+01,2.210000e+02
max,1.170139e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.019000e+03,4.202291e+01,-8.752453e+01,5.300000e+01,2.691200e+04,7.700000e+01,8.010000e+02,5.000000e+01,6.100000e+01,2.500000e+01,2.770000e+02

##### Conditinal statements:

In [7]:
%%time
medium_df.loc[(medium_df["Community Areas"] > 50) & (medium_df["Boundaries - ZIP Codes"] < 60) & (medium_df["Description"] == "AUTOMOBILE")].head(2)

Wall time: 599 ms

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
214,11694283,JC271784,05/20/2019 06:00:00 PM,009XX W DIVERSEY PKWY,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,RESIDENCE,False,False,...,-87.651911,"(41.932671001, -87.651910528)",38.0,21190.0,57.0,681.0,25.0,22.0,5.0,31.0
651,11693300,JC270665,05/20/2019 04:00:00 AM,071XX S GREEN ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,-87.645607,"(41.764525607, -87.645606586)",31.0,21559.0,66.0,512.0,32.0,11.0,17.0,215.0

##### Aggregations:

In [8]:
%%time
medium_df.groupby("Police Districts").agg("count").round(2).head(5)

Wall time: 4.37 s

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Beats
Police Districts,,,,,,,,,,,,,,,,,,,,,
1.0,197490,197490,197490,197490,197490,197490,197490,197369,197490,197490,...,197490,197490,197490,197489,197490,197489,197453,197489,197489,197490
2.0,119541,119540,119541,119541,119541,119541,119541,119393,119541,119541,...,119541,119541,119541,119541,119541,119541,119541,119541,119541,119541
3.0,41,41,41,41,41,41,41,41,41,41,...,41,41,41,41,41,0,41,2,41,41
4.0,1453,1453,1453,1453,1453,1453,1453,1453,1453,1453,...,1453,1453,1453,1453,1453,0,505,0,6,1453
5.0,304851,304851,304851,304851,304851,304851,304851,304326,304851,304851,...,304851,304851,304851,304851,304851,304851,304851,304851,304851,304851

We will have to force to reset each variable after our measurements to clear memory space and then import libraries and needed variables once more.

In [9]:
%reset -f

#### 2.2. Big DataFrame:

In the largest dataset we will have to turn __low_memory__ to __False__ to proceed with the operation (DtypeWarning associated with column types would arrise).

In [10]:
from os import path
import pandas as pd

big_file = path.expanduser("./data/raw/Vehicles.csv")

##### Read data:

In [11]:
%%time
big_df = pd.read_csv(big_file,
                     low_memory=False)

Wall time: 8min 55s

So local computer can handle the task on big files > 4GB, but quite time consuming taks it is.

##### Show last 2 rows:

In [12]:
%%time
big_df.tail(2)

Wall time: 13.9 ms

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,rodzaj,podrodzaj,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
13063685,6753092,80800114204160,CITROEN,NaN,NaN,XANTIA,NaN,NaN,SAMOCHÓD OSOBOWY,KOMBI,...,MAZOWIECKIE,LEGIONOWSKI,JABŁONNA,1999-07-28,2019-03-15,2019-03-15,14.0,14,NaN,NaN
13063686,6753093,32820186672840,TOYOTA,13.0,NaN,YARIS,NaN,NaN,SAMOCHÓD OSOBOWY,WIELOZADANIOWY,...,MAZOWIECKIE,WARSZAWSKI ZACHODNI,STARE BABICE,2013-10-29,2019-03-15,2019-03-15,14.0,14,104.0,NaN

##### Number of rows, columns:

In [13]:
%%time
big_df.shape

Wall time: 0 ns

(13063687, 72)

##### Basic statistics:

In [14]:
%%time
big_df.describe()

Wall time: 28.3 s

,Unnamed: 0,pojazd_id,kategoria,pojemnosc_silnika,moc_do_masy,moc_silnika,moc_silnika_hybrydowego,masa_wlasna,masa_pgj,dopuszczalna_masa_calkowita,...,rozstaw_kol_max,rozstaw_kol_sred,rozstaw_kol_min,emisja_co2_redukcja,wersja_rpp,kod_rpp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
count,1.306369e+07,1.306369e+07,4.276366e+06,1.207401e+07,1.128423e+06,9.831770e+06,12678.000000,1.251682e+07,24215.000000,1.252575e+07,...,1.365783e+06,1.365972e+06,1.366715e+06,24.000000,7.951085e+06,7.951085e+06,9.811910e+06,1.306369e+07,1.896983e+06,941.000000
mean,2.514995e+06,3.652309e+14,1.270004e+13,1.912105e+03,5.682439e-02,7.077183e+01,57.085567,1.434540e+03,2145.469131,2.809068e+03,...,1.380414e+03,1.549918e+03,1.387077e+03,15.458333,6.874341e+00,1.145851e+05,1.270523e+01,1.259851e+01,1.357897e+02,138.123273
std,1.784089e+06,1.335397e+15,3.561448e+14,1.941930e+03,1.198505e+00,6.874270e+01,34.860855,1.855161e+03,3409.945596,5.280302e+03,...,3.644857e+03,2.298855e+04,7.568882e+03,34.118692,3.533673e+00,2.393647e+05,2.371407e+00,1.606318e+00,1.026126e+02,16.823227
min,0.000000e+00,2.233634e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.900000,0.000000e+00,1.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,4.000000,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+01,0.000000e+00,96.000000
25%,1.088640e+06,2.689965e+13,1.300000e+01,1.229000e+03,0.000000e+00,4.000000e+01,45.000000,7.700000e+02,1205.000000,1.336000e+03,...,1.478000e+03,1.467000e+03,1.468000e+03,5.000000,1.000000e+00,3.000000e+00,1.200000e+01,1.200000e+01,1.180000e+02,131.000000
50%,2.177281e+06,5.377746e+13,1.300000e+01,1.596000e+03,1.420000e-02,6.600000e+01,53.000000,1.159000e+03,1445.000000,1.690000e+03,...,1.536000e+03,1.529000e+03,1.525000e+03,5.000000,9.000000e+00,3.000000e+00,1.400000e+01,1.400000e+01,1.350000e+02,132.000000
75%,3.487172e+06,8.064325e+13,1.111111e+07,1.994000e+03,3.870000e-02,9.200000e+01,60.000000,1.500000e+03,1885.000000,2.105000e+03,...,1.574000e+03,1.567000e+03,1.562000e+03,6.000000,9.000000e+00,2.010000e+05,1.400000e+01,1.400000e+01,1.540000e+02,155.000000
max,6.753093e+06,9.007160e+15,1.000000e+16,9.997300e+04,8.900000e+02,1.290200e+04,999.000000,9.119400e+05,105535.000000,9.209200e+05,...,2.589258e+06,8.961559e+06,5.025828e+06,132.000000,9.000000e+00,1.699000e+06,7.300000e+01,1.400000e+01,1.210670e+05,163.000000

##### Conditinal statements:

In [15]:
%%time
big_df.loc[((big_df["marka"] == "TOYOTA") | (big_df["marka"] == "FORD")) &  (big_df["emisja_co2"] < 100)].head(2)

Wall time: 1.98 s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,rodzaj,podrodzaj,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
868,868,51955064994346,TOYOTA,13.0,XW3(A),PRIUS,ZVW30(H),ZVW30L-AHXEBW(2C),SAMOCHÓD OSOBOWY,HATCHBACK,...,ŁÓDZKIE,ŁÓDŹ,ŁÓDŹ,2012-01-13,2019-03-15,2019-03-15,10.0,10,89.0,NaN
1620,1620,4125588963370607,TOYOTA,13.0,XP13M(A),YARIS,KSP13(MH),KSP130L-CHMRKW(3L),SAMOCHÓD OSOBOWY,WIELOZADANIOWY,...,NaN,NaN,NaN,2018-05-29,2019-03-15,2019-03-15,NaN,10,99.0,NaN

##### Aggregations:

In [16]:
%%time
big_df.groupby("rodzaj").agg("count").round(2).head(5)

Wall time: 47.7 s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,podrodzaj,przeznaczenie,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
rodzaj,,,,,,,,,,,,,,,,,,,,,
AUTOBUS,52082,52082,51424,15830,29143,50963,29158,29158,52027,49195,...,38182,38499,38345,52014,52082,52082,38182,52082,1586,0
AUTOBUSY,3,3,3,0,0,3,0,0,3,0,...,3,3,3,1,3,3,3,3,0,0
BRAK DANYCH,3,3,3,1,0,1,0,0,3,3,...,3,3,3,3,3,3,3,3,0,0
CIAGN. ROLNICZY.,1,1,1,0,0,1,0,0,1,0,...,1,1,1,1,1,1,1,1,0,0
CIAGN. SAMOCHOD.,2,2,2,0,0,2,0,0,2,0,...,2,2,2,2,2,2,2,2,0,0

In [17]:
%reset -f

# 3. Dask

Now we will do the above operations with Dask ->  a library for parallel computing in Python.

#### 3.1. Medium DataFrame:

In [18]:
from os import path
import dask.dataframe as dd

medium_file = path.expanduser("./data/raw/Crimes.csv")

##### Read data:

In [19]:
%%time
medium_dd = dd.read_csv(medium_file,
                        assume_missing=True, # we set this value to True because dask first off tells us about NaN values in integer column
                        )

Wall time: 71.4 ms

Creating the DataFrames went much too fast, but we have to remember that Dask does __lazy evaluation__ of every method -> to compute the value of a function, we have to use __.compute()__ method. It will compute the result parallely in blocks, parallelizing every independent task at that time.

Still let's check timing of basic tasks we would like to do with our DataFrames.

##### Show last 2 rows:

In [20]:
%%time
medium_dd.tail(2)

Wall time: 477 ms

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
67808,1392468.0,G106773,01/01/2001 12:00:00 AM,023XX W HURON ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,RESIDENCE,False,False,...,-87.686272,"(41.893824874, -87.686272003)",24.0,21184.0,25.0,546.0,41.0,28.0,15.0,80.0
67809,1310313.0,G000070,01/01/2001 12:00:00 AM,109XX S LONGWOOD DR,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,-87.671448,"(41.694977232, -87.671447845)",33.0,22212.0,74.0,380.0,42.0,13.0,9.0,257.0

##### Number of rows, columns:

In [21]:
%%time
print(f"shape: ({len(medium_dd)}, {len(medium_dd.columns)})")

shape: (6877122, 30)
Wall time: 25.1 s

##### Basic statistics:

In [22]:
%%time
medium_dd.describe().compute()

Wall time: 1min 20s

,ID,Arrest,Domestic,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
count,6.877122e+06,6.877122e+06,6.877122e+06,6.877122e+06,6.877075e+06,6.262298e+06,6.263626e+06,6.811932e+06,6.811932e+06,6.877122e+06,6.811932e+06,6.811932e+06,6.792140e+06,6.811932e+06,6.794854e+06,6.797012e+06,6.794966e+06,6.794901e+06,6.795930e+06,6.795953e+06
mean,6.326030e+06,2.762272e-01,1.318600e-01,1.190924e+03,1.130045e+01,2.269056e+01,3.757498e+01,1.164523e+06,1.885727e+06,2.008515e+03,4.184203e+01,-8.767178e+01,2.738247e+01,1.910871e+04,3.872460e+01,3.813732e+02,2.553626e+01,3.146023e+01,1.491913e+01,1.505174e+02
std,3.097822e+06,4.471306e-01,3.383385e-01,7.032927e+02,6.945665e+00,1.383333e+01,2.153849e+01,1.715558e+04,3.268663e+04,5.157344e+00,8.994461e-02,6.208706e-02,1.526851e+01,5.736594e+03,2.009641e+01,2.300487e+02,1.477743e+01,1.914224e+01,6.453640e+00,7.850072e+01
min,6.340000e+02,0.000000e+00,0.000000e+00,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01,1.000000e+00,2.733000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,4.274221e+06,0.000000e+00,0.000000e+00,6.310000e+02,6.000000e+00,1.500000e+01,2.600000e+01,1.153612e+06,1.861556e+06,2.005000e+03,4.177552e+01,-8.771130e+01,1.500000e+01,2.118600e+04,2.500000e+01,1.840000e+02,1.300000e+01,1.600000e+01,1.000000e+01,8.500000e+01
50%,7.994002e+06,0.000000e+00,0.000000e+00,1.123000e+03,1.000000e+01,2.400000e+01,5.200000e+01,1.166922e+06,1.894366e+06,2.011000e+03,4.186585e+01,-8.766321e+01,2.800000e+01,2.156900e+04,3.700000e+01,3.820000e+02,2.700000e+01,3.000000e+01,1.600000e+01,1.570000e+02
75%,1.160407e+07,1.000000e+00,0.000000e+00,1.823000e+03,1.700000e+01,3.500000e+01,7.600000e+01,1.176547e+06,1.910536e+06,2.019000e+03,4.191032e+01,-8.762772e+01,4.100000e+01,2.224800e+04,5.900000e+01,5.800000e+02,3.900000e+01,5.200000e+01,2.000000e+01,2.240000e+02
max,1.170139e+07,1.000000e+00,1.000000e+00,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.019000e+03,4.202291e+01,-8.752453e+01,5.300000e+01,2.691200e+04,7.700000e+01,8.010000e+02,5.000000e+01,6.100000e+01,2.500000e+01,2.770000e+02

##### Conditinal statements:

In [23]:
%%time
medium_dd.loc[(medium_dd["Community Areas"] > 50) & (medium_dd["Boundaries - ZIP Codes"] < 60) & (medium_dd["Description"] == "AUTOMOBILE")].head(2)

Wall time: 1.58 s

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
214,11694283.0,JC271784,05/20/2019 06:00:00 PM,009XX W DIVERSEY PKWY,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,RESIDENCE,False,False,...,-87.651911,"(41.932671001, -87.651910528)",38.0,21190.0,57.0,681.0,25.0,22.0,5.0,31.0
651,11693300.0,JC270665,05/20/2019 04:00:00 AM,071XX S GREEN ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,-87.645607,"(41.764525607, -87.645606586)",31.0,21559.0,66.0,512.0,32.0,11.0,17.0,215.0

##### Aggregations:

In [24]:
%%time
medium_dd.groupby("Police Districts").agg("count").head(5)

Wall time: 29.6 s

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Beats
Police Districts,,,,,,,,,,,,,,,,,,,,,
1.0,197490,197490,197490,197490,197490,197490,197490,197369,197490,197490,...,197490,197490,197490,197489,197490,197489,197453,197489,197489,197490
2.0,119541,119540,119541,119541,119541,119541,119541,119393,119541,119541,...,119541,119541,119541,119541,119541,119541,119541,119541,119541,119541
3.0,41,41,41,41,41,41,41,41,41,41,...,41,41,41,41,41,0,41,2,41,41
4.0,1453,1453,1453,1453,1453,1453,1453,1453,1453,1453,...,1453,1453,1453,1453,1453,0,505,0,6,1453
5.0,304851,304851,304851,304851,304851,304851,304851,304326,304851,304851,...,304851,304851,304851,304851,304851,304851,304851,304851,304851,304851

In [25]:
%reset -f

#### 3.2. Big DataFrame:

In [26]:
from os import path
import dask.dataframe as dd

big_file = path.expanduser("./data/raw/Vehicles.csv")

##### Read data:

In [27]:
%%time
big_dd = dd.read_csv(big_file,
                     assume_missing=True, # we set this value to True because dask first off tells us about NaN values in integer column
                     dtype={'rok_produkcji': 'object'}, # we set this value due to dask's dtype inference failing
                     low_memory=False, # we set this value to False because columns have mixed types and Dask gives us warning signs on this topic,
                     )

Wall time: 172 ms

##### Show last 2 rows:

In [28]:
%%time
big_dd.tail(2)

Wall time: 2.02 s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,rodzaj,podrodzaj,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
149139,6753092.0,8.080011e+13,CITROEN,NaN,NaN,XANTIA,NaN,NaN,SAMOCHÓD OSOBOWY,KOMBI,...,MAZOWIECKIE,LEGIONOWSKI,JABŁONNA,1999-07-28,2019-03-15,2019-03-15,14.0,14.0,NaN,NaN
149140,6753093.0,3.282019e+13,TOYOTA,13.0,NaN,YARIS,NaN,NaN,SAMOCHÓD OSOBOWY,WIELOZADANIOWY,...,MAZOWIECKIE,WARSZAWSKI ZACHODNI,STARE BABICE,2013-10-29,2019-03-15,2019-03-15,14.0,14.0,104.0,NaN

##### Number of rows, columns:

In [29]:
%%time
print(f"shape: ({len(big_dd)}, {len(big_dd.columns)})")

shape: (13063687, 72)
Wall time: 1min 40s

##### Basic statistics:

In [30]:
%%time
big_dd.describe().compute()

ValueError: No non-trivial arrays found

At the time doing the analysis is seems we have a bug in the method, waiting for it to be fixed (https://github.com/dask/dask/issues/2792).

##### Conditinal statements:

In [31]:
%%time
big_dd.loc[((big_dd["marka"] == "TOYOTA") | (big_dd["marka"] == "FORD")) &  (big_dd["emisja_co2"] < 100)].head(2)

Wall time: 2.32 s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,rodzaj,podrodzaj,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
868,868.0,5.195506e+13,TOYOTA,13.0,XW3(A),PRIUS,ZVW30(H),ZVW30L-AHXEBW(2C),SAMOCHÓD OSOBOWY,HATCHBACK,...,ŁÓDZKIE,ŁÓDŹ,ŁÓDŹ,2012-01-13,2019-03-15,2019-03-15,10.0,10.0,89.0,NaN
1620,1620.0,4.125589e+15,TOYOTA,13.0,XP13M(A),YARIS,KSP13(MH),KSP130L-CHMRKW(3L),SAMOCHÓD OSOBOWY,WIELOZADANIOWY,...,NaN,NaN,NaN,2018-05-29,2019-03-15,2019-03-15,NaN,10.0,99.0,NaN

##### Aggregations:

In [32]:
%%time
big_dd.groupby("rodzaj").agg("count").round(2).head(5)

Wall time: 2min 3s

,Unnamed: 0,pojazd_id,marka,kategoria,typ,model,wariant,wersja,podrodzaj,przeznaczenie,...,siedziba_wlasciciela_woj,siedziba_wlasciciela_pow,siedziba_wlasciciela_gmina,data_pierwszej_rej_w_kraju,createtimestamp,modifytimestamp,siedziba_wlasciciela_woj_teryt,akt_miejsce_rej_wojew_teryt,emisja_co2,emisja_co2_pal_alternatywne1
rodzaj,,,,,,,,,,,,,,,,,,,,,
AUTOBUS,52082,52082,51424,15830,29143,50963,29158,29158,52027,49195,...,38182,38499,38345,52014,52082,52082,38182,52082,1586,0
AUTOBUSY,3,3,3,0,0,3,0,0,3,0,...,3,3,3,1,3,3,3,3,0,0
BRAK DANYCH,3,3,3,1,0,1,0,0,3,3,...,3,3,3,3,3,3,3,3,0,0
CIAGN. ROLNICZY.,1,1,1,0,0,1,0,0,1,0,...,1,1,1,1,1,1,1,1,0,0
CIAGN. SAMOCHOD.,2,2,2,0,0,2,0,0,2,0,...,2,2,2,2,2,2,2,2,0,0

In [33]:
%reset -f

Interestingly we receive an ValueError in place where Pandas computed without any problem.

# 4. Spark

# 5. Summary

TODO:

https://blog.dask.org/2018/08/28/dataframe-performance-high-level

http://docs.dask.org/en/latest/spark.html